* {
  transition: color 0.15s, background 0.15s;
}

body, html {
  height: 100%;
  overflow: hidden;
}

nav {
  position: fixed;
  background: black;
  color: white;
  height: 3%;
  width: 100%;
}

.editor {
  height: 70%;
  width: 100%;
  margin-top: 3%;
  position: fixed;

}
.editor .ace_editor {
  overflow: hidden;
  position: fixed;
  height: 70%;
  width: 100%;
}
.editor .ace_editor .ace_scrollbar-v {
  display: none;
}
.letraChica
{
  font-size:8px;
}
.letraNormal
{
  font-size:14px;
}
.letraGrande
{
  font-size:24px;
}

.dg.ac {
  position: fixed;
  z-index: 5;
}

.dg .c select {
  color: #000;
}
.split .editor .ace_editor {
  left: 0;
  width: 50%;
  opacity: 1 !important;
}
.split .editor .dg.ac {
  left: 50%;
}
 ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    height:30px;
}

ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
}

ul.tabs a {
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 134px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
}

 ul.tabs a:active {
    outline:none;
}

ul.tabs a:hover {
    color:red;
}

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    font-size: 14px;
    cursor:default !important;
    color:#000 !important;
}

.proyecto{
  background: rgba(0,0,0,.5);

  position: fixed;

  float: left;

  height: 100%;

  width: 100%;

  z-index: 9999;

  display: block;
}
.ventana{
  width: 50%;
  left: 25%;
  height: 400px;
  position: relative;
  z-index: 9999;
  background: white;
  top:90px;
  border-radius: 10px;
  overflow-x:hidden;
  overflow-y:scroll;
}
.nombre{
  width: 100%;
  height:50px;
  background:#1D274F;
}
.nombre>h1{
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 400;
}
.ventana>h2{
  width: 40%;
  height: 20px;
  margin-top: 18px;
  top: 40px;
  left: 5%;
  font-size:20px;
  font-weight: 100;
  position: relative;
  float: left;
  color: #1D274F;
}
.ventGVentana
{
  width: 80%;
  height: 100px;
  position: relative;
  float: left;
  margin-top: 40px;
  margin-left: 5%;
  left: 5%;
  right: 2.5%;
  overflow-y:scroll;
   overflow-x:hidden;
}
.ventGVentana>table{
  width: 100%;
  height: 100px;
  position: relative;
  float: left;
}
.des{
  width: 100%;
  height: 30px;
  position: relative;
  float: left;
}
.des>td{
  width: 33.33%;
  height: 30px;
  position: relative;
  float: left;
  text-align: center;
}
.botonesVentana
{
  float: left;
  width: 80%;
  height: 20px;
  margin-left: 10%;
}
.v-e{
  width: 20%;
  height: 25px;
  position: relative;
  float: right;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: -25px;
  margin-bottom: 8px;
  background:#01C0A1;
  border-radius: 8px;
  text-decoration: none;
  outline: none;
  font-weight: 300;
  border:none;
  color: white;
  cursor: pointer;
  transition: .5s all;
}
.v-e:hover{
  background: #7837C1;
}
.v-ee{
  top: 25px !important;
  right:-23%!important;
  height: 25px;
  margin-bottom: 8px;
  width: 15%;
  position: relative;
  float: right;
  margin-top: 50px;
  background:#01C0A1;
  border-radius: 8px;
  text-decoration: none;
  outline: none;
  font-weight: 300;
  border:none;
  color: white;
  cursor: pointer;
  transition: .5s all;
}
.v-ee:hover{
  background: #7837C1;
}
#analisis{
  position: absolute;
  bottom: 0;
  float: left;
  width: 50%;
  background: rgba(155,155,155,1);
  height: 96px;
  overflow: scroll;
}
#compilar{
  position: absolute;
  bottom: 0;
  width: 50%;
  background: rgba(155,155,155,1);
  left: 50%;
  top: 85%;
  overflow: scroll;
}


#gfx_holder{
  width: 50% !important;
  position: relative !important;
  float: right !important;
  height: 100% !important;
}

.shadow{
  border-radius:5px !important;
  overflow:auto !important;
  position:absolute !important;
  top:10px !important; 
  right:10px !important; 
  width:150px !important; 
  border:3px solid gray !important;
}
