 {% load staticfiles %}
 <html>
 <head>
  <title>Python IDE</title>
    <meta charset="utf-8">
    <script src="{% static "lib/bower_components/angular/angular.min.js"%}"></script>
    <script src="{% static "lib/bower_components/ace-builds/src-noconflict/ace.js" %}"></script>
    <script src="{% static "lib/bower_components/ace-builds/src-noconflict/ext-language_tools.js"%}"></script>
    <script src="{% static "lib/bower_components/ace-builds/src-noconflict/snippets/django.js"%}"></script>
    <script src="{% static "lib/bower_components/angular-ui-ace/ui-ace.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/contIDE.js" %}"></script>
    <script src="{% static "js/directives.js" %}"></script>
    <script src="{% static "js/services.js" %}"></script>
    <script src="{% static "lib/sweetalert.min.js"%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "lib/sweetalert.css" %}">
    <link rel="stylesheet" type="text/css"  href="{% static "views/css/IDE.css" %}">
    <link rel="shortcut icon" href="{% static "views/img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "views/img/favicon.ico" %}" type="image/x-icon">
    <script src="{% static 'umlGit/lib/shifty.js' %}"></script>
      <script src="{% static 'umlGit/lib/raphael.js' %}"></script>
      <script src="{% static 'umlGit/lib/jquery-1.12.0.min.js' %}"></script>
      <script src="{% static 'umlGit/lib/jquery.autoresize.js' %}"></script>
      <script src="{% static 'umlGit/lib/jquery-touch_punch.js' %}"></script>
      <script src="{% static 'umlGit/lib/jquery.contextmenu.js' %}"></script>
      <script src="{% static 'umlGit/lib/rgbcolor.js' %}"></script>
      <script src="{% static 'umlGit/lib/StackBlur.js' %}"></script>
      <script src="{% static 'umlGit/lib/canvg.js' %}"></script>
      <script src="{% static 'umlGit/lib/Class.js' %}"></script>
      <script src="{% static 'umlGit/lib/json2.js' %}"></script>
      <script src="{% static 'umlGit/lib/pathfinding-browser.min.js' %}"></script>

      <!--Draw2d-->
      <script src="{% static 'umlGit/src/draw2d.js' %}"></script>

      <!--script principal-->
      <script src="{% static 'umlGit/scripts/MainJS.js' %}"></script>

      <!--Otros scripts-->
      <script src="{% static 'umlGit/scripts/CollapsibleLocator.js' %}"></script>
      <script src="{% static 'umlGit/scripts/CollapsibleInputLocator.js' %}"></script>
      <script src="{% static 'umlGit/scripts/CollapsibleOutputLocator.js' %}"></script>
      <script src="{% static 'umlGit/scripts/CollapsibleShape.js' %}"></script>
      <script src="{% static 'umlGit/scripts/MyConnection.js' %}"></script>
 </head>
 <body ng-app="IDE">
        {% block content %}{% endblock content %}
        {% block extra_javascript %}{% endblock extra_javascript %}
 </body>
<script type="text/javascript">
var static_url = '{% static "" %}';
</script>
 </html>
